<!DOCTYPE html>
<html>
<script src="{{ url_for('static', filename='scripts/links.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/itenerary.css') }}">
<head>
  <title>Your Itinerary</title>
  
</head>
<body>
  <h1>Your Itinerary</h1>
<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Overnight City</th>
            <th>Travel Method</th>
            <th>Travel Time</th>
            <th>Morning Activity</th>
            <th>Afternoon Activity</th>
            <th>Evening Activity</th>
            
        </tr>
    </thead>
    <tbody>
        {% for index, row in df.iterrows() %}
            <tr>
                <td>{{ row['day'] }}</td>
                <td><a href="#" onclick="searchBooking('{{ row['city'] }}')">{{ row['city'] }}</a></td>
                <td>{{ row['travel_method'] }}</td>
                <td>{{ row['travel_time'] }}</td>
                <td><a href="#" onclick="searchGoogle('{{ row['morning_activity'] }}')">{{ row['morning_activity'] }}</a></td>
                <td><a href="#" onclick="searchGoogle('{{ row['afternoon_activity'] }}')">{{ row['afternoon_activity'] }}</a></td>               
                <td><a href="#" onclick="searchGoogle('{{ row['evening_activity'] }}')">{{ row['evening_activity'] }}</a></td> 
                <!-- Add more columns here -->

            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>








